body {
  font-family: Gabarito;
  background-image: url('../images/space.jpg');
}

td, th {
	border: 0px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  }

.super {
  position: relative;
  top: -5px;
  font-size: 0.7em;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.label {
  background-color: #dcdcdc;
}

#emptyBox {
  background: transparent;
}

.bolded {
  font-weight: bold;
}
